<!DOCTYPE html>
<html>
  <head>
    <title>Comfy Toilets</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
    <div class="row">
      <div class="col justify-content-center">
        <%= render 'shared/menu' %>
      </div>
      <div class="col-8">
        <%= yield %>
    </div>
  </div>
  </body>
</html>
